<div class="container mt-5">
    <h1 class="text-center mb-4">Books</h1>
    <table class="table table-hover table-striped" *ngIf="books && books.length > 0">
        <thead>
            <tr>
                <th scope="col">Book Id</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Genre</th>
                <th scope="col">Book Price</th>
                <th scope="col">Book Language</th>
                <th scope="col">Book Pages</th>
                <th scope="col">Year</th>
                <th colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.price | currency }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.numberOfPages }}</td>
                <td>{{ book.publicationYear }}</td>
                <td class="text-center">
                    <a [routerLink]="['/books', 'edit', book.id]" class="btn btn-primary btn-sm">Edit</a>
                </td>
                <td class="text-center">
                    <a href="javascript:void(0);" (click)="deletebooks(book.id)" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!books || books.length == 0" class="text-center text-muted">No books Found!</p>
</div>
